<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body class="container mx-auto my-10">
    <nav class="bg-blue-400 p-4 my-4">
      {% if user.is_authenticated %}
      <a href="{% url 'movements:movements' %}" class="text-white mr-4">All movements</a>
      <a href="{% url 'movements:createMovements' %}" class="text-white mr-4">Create movement</a>
      <a href="{% url 'companies:index' %}" class="text-white mr-4">Companies</a>
      <a href="{% url 'accounts:logout' %}" class="text-white">Logout</a>
      {% else %}
      <a href="{% url 'accounts:login' %}" class="text-white mr-4">Login</a>
      <a href="{% url 'accounts:signUp' %}" class="text-white mr-4">Sign up</a>
      <a href="{% url 'accounts:requestPasswordReset' %}" class="text-white mr-4">Reset password</a>
      {% endif %}
    </nav>
    {% block content %} {% endblock %}
    <footer class="mt-8 bg-gray-400 text-white p-4">Welcome to TaxManager - Take back the control over your tax!</footer>
  </body>
</html>
