{% extends 'base.html' %} {% block content%}
<h1 class="text-2xl">Welcome back {{user}}!</h1>
<p class="mt-4 font-semibold">Total balance: <span class="{% if balance > 0 %} text-green-600 {% else %} text-red-600 {% endif %}">{{balance}}</span></p>
<div class="mt-8 grid grid-cols-2 gap-10">
  <table class="w-full border-collapse text-md shadow-md rounded-md">
    <thead class="w-full">
      <tr class="bg-gray-200 font-bold">
        <th class="text-left p-4">Amount</th>
        <th class="text-left">Partner</th>
        <th class="text-left">Date</th>
        <th class="text-left">Invoice</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="mb-5">
      {% for movement in movements %}
      <tr class="border-b border-t" id="{{movement.id}}">
          <td class="p-4 amount {% if movement.amount < 0 %} text-red-600 {% else %} text-green-600 {%endif%}">{{movement.amount}}</td>
          <input value="{{movement.tax}}" type="hidden" class="tax">
          <td class="partner">{{movement.partner.name}} {% if movement.tax == True %}(T){%endif%}</td>
          <td class="movementDate">{{movement.createdAt|date:'d-m-Y'}}</td>
          <td><a href="{{movement.invoiceLink}}" target="_blank" class="invoiceLink">https://...</a></td>
          <td><a href="{% url 'movements:item' id=movement.id %}" class="text-blue-400 font-semibold">Details</a></td>
          <td><input type="checkbox" name="" class="m-2 movement-input"></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="bg-gray-200 p-4 rounded-md" id="calculator">
    <div class="flex justify-between">
      <h2 class="font-bold">Tax calculator</h2>
      <p class="calculator--sum">0</p>
    </div>
    <div class="container"></div>
  </div>
</div>
<script>
const inputs = document.querySelectorAll('.movement-input');
const calculator = document.querySelector('.calculator--sum');
const container = document.querySelector('#calculator .container');
let count = 0;

inputs.forEach((checkbox) => {
  checkbox.addEventListener('click', (e) => {
    const wrapperTr = e.target.parentNode.parentNode;
    const amount = wrapperTr.querySelector('.amount');
    if(e.target.checked) addItem({id:wrapperTr.id,amount: amount.textContent})
    else removeItem(wrapperTr.id)
  })
})


function addItem(dataObj) {
  container.insertAdjacentHTML('afterbegin', `<p id="i-${dataObj.id}" class="my-2">${dataObj.amount}</p>`);
  const currentTax = parseFloat(calculator.textContent);
  let taxNumber = parseFloat(dataObj.amount) > 0 ? 25 : 20;
  calculator.textContent = parseFloat(currentTax + (parseFloat(dataObj.amount) * taxNumber / 100))



}

function removeItem(id) {
  const item = container.querySelector(`#i-${id}`)
  const currentTax = parseFloat(calculator.textContent);
  let taxNumber = parseFloat(item.textContent) > 0 ? 25 : 20;
  calculator.textContent = parseFloat(currentTax - (parseFloat(item.textContent) * taxNumber / 100))
  item.remove()
}
</script>
{% endblock %}
