{% extends 'base.html' %} {% block content%}
<h1 class="text-2xl">Welcome back {{user}}!</h1>
<div class="mt-8">
  <table class="w-full border-collapse mt-5 text-md shadow-md rounded-md">
    <thead class="w-full">
      <tr class="bg-gray-200 font-bold">
        <th class="text-left p-4">Sender</th>
        <th class="text-left">Receiver</th>
        <th class="text-left">Amount</th>
        <th class="text-left">Created at</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="mb-5">
      {% for movement in movements %}
      <tr class="border-b border-t">
          <td class="p-4 {% if movement.amount < 0 %} text-red-600 {% else %} text-green-600 {%endif%}">{{movement.amount}}</td>
          <td>{{movement.sender}}</td>
          <td>{{movement.receiver}}</td>
          <td>{{movement.createdAt|date:'d-m-Y'}}</td>
          <td><a href="{% url 'movements:item' id=movement.id %}" class="text-blue-400 font-semibold">Go to details</a></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
